.content {
    margin: 0 auto;
    max-width: 1440px;
    padding: 9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.header {
    width: 500px;
}

.mainTitle {
    font-size: 2.5rem;
    word-spacing: 0.3rem;
    text-transform: uppercase;
}

.mainName {
    color: #2f58cd;
}

.title {
    padding-left: 0.2rem;
    font-size: 2.4rem;
}

.typewriterWrapper {
    font-size: 2.2em;
    color: #2f58cd;
    font-weight: 600;
}

.typewriterCursor {
    font-size: 2.4em;
    color: #2f58cd;
}

.homeMainIcon {
    display: flex !important;
    width: 37%;
    min-height: 25rem;
    margin-top: 2rem;
    padding: 0 15px;
}

@media (max-width: 925px) {
    .content {
        padding: 9rem 3rem 1rem;
        flex-wrap: wrap;
    }

    .typewriterWrapper {
        font-size: 1.5em;
        color: #2f58cd;
        font-weight: 600;
    }

    .typewriterCursor {
        font-size: 1.8em;
        color: #2f58cd;
    }

    .homeMainIcon {
        padding-top: 10rem;
        justify-content: center;
        width: 100%;
    }
}
