.mainTitle {
    font-size: 2.5rem;
    word-spacing: 0.3rem;
    text-transform: uppercase;
}

.mainName {
    color: #2f58cd;
}

.title {
    font-size: 2.4rem;
}

.typewriterWrapper {
    font-size: 1.5em;
    color: #2f58cd;
    font-weight: 600;
}

.typewriterCursor {
    font-size: 1.8em;
    color: #2f58cd;
}

.homeMainIcon {
    width: 100%;
}

@media (min-width: 992px) {
    .typewriterWrapper {
        font-size: 2.2em;
        color: #2f58cd;
        font-weight: 600;
    }

    .typewriterCursor {
        font-size: 2.4em;
        color: #2f58cd;
    }

    .homeMainIcon {
        min-height: 25rem;
        margin-top: 2rem;
        width: 50%;
    }
}
