#contact {
    background-color: #2B2C38;
    padding: 120px;
    text-align: center;
}

.contact-logo {
    width: 100px;
    height: 100px;
    margin: 60px 60px 0;
}

.logo-button {
    margin: 10px;
}

@media (max-width: 900px) {
    #contact {
        padding: 0;
    }

    .contact-logo {
        margin: 0;
    }

    .logo-button {
        margin: 0 0 60px 0;
    }
}