.App {
  color: whitesmoke;
  font-family: Barlow, sans-serif;
}

h1 {
  font-size: calc(48px);
}

p {
  font-size: 1.3em;
}

.main-logo {
  width: 50px;
  height: 50px;
}

@media (max-width: 900px) {
  .header {
    padding-top: 60px;
  }
}
